@model QuanLyDiemSinhVien.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Thay đổi mật khẩu";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Đổi mật khẩu
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Đổi mật khẩu</li>
    </ol>
</section>
<hr />
<section class="content">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, "Mật khẩu cũ", new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, "Mật khẩu mới", new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, "Nhập lại mật khẩu", new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Cập nhật" class="btn btn-default" />
            </div>
        </div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
    }

</section>