@model IEnumerable<QuanLyDiemSinhVien.Models.MonHoc>

@{
    ViewBag.Title = "Môn học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh mục Môn học
        <small>Danh sách chi tiết</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">QL Môn học</li>
    </ol>
</section>
<hr />

<a href="/MonHocs/Create" class="btn bg-purple margin"><i class="fa fa-fw fa-plus"></i> Thêm mới môn học</a>

<section class="content">

    <table id="gridDetails" class="table table-bordered table-striped hover">
        <thead>
            <tr>
                <th>STT</th>
                <th>
                    @Html.DisplayNameFor(model => model.MaMonHoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenMonHoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoTinChi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoaiMonHoc)
                </th>
                <th>Hoạt động</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1; }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaMonHoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenMonHoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoTinChi)
                    </td>
                    <td>
                        @item.LoaiMonHoc
                    </td>
                    <td>@item.MonHocID</td>
                </tr>
                i++;
            }
        </tbody>
    </table>

</section>


<script>
    $(function () {
        $("#gridDetails").DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            'language': dataTable.language,
            'columnDefs': [
                {
                    "targets": [0], "width": 40, "class": "text-center", "orderable": false
                }, {
                    "targets": [1], "width": 150, "class": "text-left"
                }, {
                    "targets": [3], "width": 100, "class": "text-center"
                }, {
                    "targets": [4], "class": "text-center", "orderable": false, "width": 120,
                    "render": function (data, type, row) {
                        var html = '';
                        switch (parseInt(data)) {
                            case 1:
                                return "Bắt buộc"; break;
                            case 2:
                                return "Tự chọn"; break;
                        }
                        return html;
                    }
                }
                , {
                    "targets": [5], "class": "text-center", "orderable": false, "width": 100,
                    "render": function (data, type, row) {
                        var html = '';
                        html += '<a type="button" href="/MonHocs/Edit/' + data + '" title="Sửa" class="btn bg-olive btn-xs"><i class="fa fa-fw fa-pencil"></i></a>';
                        html += '<a type="button" href="/MonHocs/Delete/' + data + '" title="Xóa" class="btn bg-maroon btn-xs"><i class="fa fa-fw fa-trash"></i></a>';
                        return html;
                    }
                }
            ]
        })
    })
</script>
